fluxoPrincipal.json
[
    {
        "id": "7bc5b28782596e46",
        "type": "tab",
        "label": "Fluxo 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "654dbb630a3f9082",
        "type": "mqtt in",
        "z": "7bc5b28782596e46",
        "name": "",
        "topic": "bet/realizarAposta",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fa7923ade7c363e8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 780,
        "wires": [
            [
                "600731b61635b301",
                "b719174506b7584c"
            ]
        ]
    },
    {
        "id": "600731b61635b301",
        "type": "change",
        "z": "7bc5b28782596e46",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "queryParameters",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 780,
        "wires": [
            [
                "37bf12db4c0a2192",
                "405664427b9a6033"
            ]
        ]
    },
    {
        "id": "37bf12db4c0a2192",
        "type": "postgresql",
        "z": "7bc5b28782596e46",
        "name": "",
        "query": "INSERT INTO bets (id_cliente, id_partida, id_time_apostado) VALUES\n($id_cliente, $id_partida, $id_time_apostado)",
        "postgreSQLConfig": "1251550e75985b59",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 870,
        "y": 780,
        "wires": [
            [
                "8421433cc34a4d78",
                "9a7772999121f9ed"
            ]
        ]
    },
    {
        "id": "8421433cc34a4d78",
        "type": "debug",
        "z": "7bc5b28782596e46",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 680,
        "wires": []
    },
    {
        "id": "405664427b9a6033",
        "type": "debug",
        "z": "7bc5b28782596e46",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 680,
        "wires": []
    },
    {
        "id": "b719174506b7584c",
        "type": "debug",
        "z": "7bc5b28782596e46",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 680,
        "wires": []
    },
    {
        "id": "9a7772999121f9ed",
        "type": "mqtt out",
        "z": "7bc5b28782596e46",
        "name": "",
        "topic": "bet/apostaConfirmada",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fa7923ade7c363e8",
        "x": 1160,
        "y": 780,
        "wires": []
    },
    {
        "id": "50a9cd58b373eadb",
        "type": "mqtt in",
        "z": "7bc5b28782596e46",
        "name": "",
        "topic": "bet/consultarAposta",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fa7923ade7c363e8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 1060,
        "wires": [
            [
                "afb5e8a840facdc4",
                "7e79dd5c5694edc9"
            ]
        ]
    },
    {
        "id": "afb5e8a840facdc4",
        "type": "change",
        "z": "7bc5b28782596e46",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "queryParameters",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 1060,
        "wires": [
            [
                "1a4226118e6f60f5",
                "276fc3ba5567ee41"
            ]
        ]
    },
    {
        "id": "1a4226118e6f60f5",
        "type": "postgresql",
        "z": "7bc5b28782596e46",
        "name": "",
        "query": "SELECT \n  b.*,\n  t.nome AS nome_time_apostado\nFROM bets b\nLEFT JOIN times t ON b.id_time_apostado = t.id_time\nWHERE b.id_cliente = $id_cliente;",
        "postgreSQLConfig": "1251550e75985b59",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 870,
        "y": 1060,
        "wires": [
            [
                "7c733bd60e05d565",
                "724e4555027cdd64"
            ]
        ]
    },
    {
        "id": "7c733bd60e05d565",
        "type": "debug",
        "z": "7bc5b28782596e46",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 960,
        "wires": []
    },
    {
        "id": "276fc3ba5567ee41",
        "type": "debug",
        "z": "7bc5b28782596e46",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 960,
        "wires": []
    },
    {
        "id": "7e79dd5c5694edc9",
        "type": "debug",
        "z": "7bc5b28782596e46",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 960,
        "wires": []
    },
    {
        "id": "724e4555027cdd64",
        "type": "mqtt out",
        "z": "7bc5b28782596e46",
        "name": "",
        "topic": "bet/minhasApostas",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fa7923ade7c363e8",
        "x": 1150,
        "y": 1060,
        "wires": []
    },
    {
        "id": "d3ae8862065ab671",
        "type": "mqtt in",
        "z": "7bc5b28782596e46",
        "name": "",
        "topic": "bet/getPartidas",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fa7923ade7c363e8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 520,
        "wires": [
            [
                "3cfe83860285bbaa",
                "b950a77be47080a0"
            ]
        ]
    },
    {
        "id": "3cfe83860285bbaa",
        "type": "change",
        "z": "7bc5b28782596e46",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "queryParameters",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 520,
        "wires": [
            [
                "7e93b0b788eaf3c8",
                "34d19ba1fae6791c"
            ]
        ]
    },
    {
        "id": "7e93b0b788eaf3c8",
        "type": "postgresql",
        "z": "7bc5b28782596e46",
        "name": "",
        "query": "SELECT \n  p.*,\n  tm.nome AS mandante_nome,\n  tv.nome AS visitante_nome\nFROM partidas p\nLEFT JOIN times tm ON p.mandante = tm.id_time\nLEFT JOIN times tv ON p.visitante = tv.id_time\nWHERE p.status = 'em_andamento';",
        "postgreSQLConfig": "1251550e75985b59",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 850,
        "y": 520,
        "wires": [
            [
                "824989bda0f40710",
                "c99ec6c06e89c13b"
            ]
        ]
    },
    {
        "id": "824989bda0f40710",
        "type": "debug",
        "z": "7bc5b28782596e46",
        "name": "debug 18",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 420,
        "wires": []
    },
    {
        "id": "34d19ba1fae6791c",
        "type": "debug",
        "z": "7bc5b28782596e46",
        "name": "debug 19",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 420,
        "wires": []
    },
    {
        "id": "b950a77be47080a0",
        "type": "debug",
        "z": "7bc5b28782596e46",
        "name": "debug 20",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 420,
        "wires": []
    },
    {
        "id": "c99ec6c06e89c13b",
        "type": "mqtt out",
        "z": "7bc5b28782596e46",
        "name": "",
        "topic": "bet/partidas",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fa7923ade7c363e8",
        "x": 1150,
        "y": 520,
        "wires": []
    },
    {
        "id": "d46f72664714552c",
        "type": "mqtt in",
        "z": "7bc5b28782596e46",
        "name": "",
        "topic": "bet/autenticaCliente",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fa7923ade7c363e8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 280,
        "wires": [
            [
                "23236d0db59c98f3",
                "f2d6e0a5836aa0c3"
            ]
        ]
    },
    {
        "id": "23236d0db59c98f3",
        "type": "change",
        "z": "7bc5b28782596e46",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "queryParameters",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 280,
        "wires": [
            [
                "f5f1853168aa68cd",
                "317bac917768f976"
            ]
        ]
    },
    {
        "id": "f5f1853168aa68cd",
        "type": "postgresql",
        "z": "7bc5b28782596e46",
        "name": "",
        "query": "SELECT clientes.*\nFROM copos\nJOIN vinculo_copo_cliente v ON v.id_copo = copos.id AND v.ativo = true\nJOIN clientes ON clientes.id = v.id_cliente\nWHERE copos.rfid = $rfid;",
        "postgreSQLConfig": "1251550e75985b59",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 850,
        "y": 280,
        "wires": [
            [
                "ea1f992fcf575bb8",
                "59e25b20d1cef81d"
            ]
        ]
    },
    {
        "id": "ea1f992fcf575bb8",
        "type": "debug",
        "z": "7bc5b28782596e46",
        "name": "debug 21",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 160,
        "wires": []
    },
    {
        "id": "317bac917768f976",
        "type": "debug",
        "z": "7bc5b28782596e46",
        "name": "debug 22",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 180,
        "wires": []
    },
    {
        "id": "f2d6e0a5836aa0c3",
        "type": "debug",
        "z": "7bc5b28782596e46",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 180,
        "wires": []
    },
    {
        "id": "59e25b20d1cef81d",
        "type": "mqtt out",
        "z": "7bc5b28782596e46",
        "name": "",
        "topic": "dadosCliente",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fa7923ade7c363e8",
        "x": 1230,
        "y": 280,
        "wires": []
    },
    {
        "id": "fa7923ade7c363e8",
        "type": "mqtt-broker",
        "name": "MQTT",
        "broker": "mqtt.janks.dev.br",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "5",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1251550e75985b59",
        "type": "postgreSQLConfig",
        "name": "PostgreSQL",
        "host": "postgresql.janks.dev.br",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "projeto_b",
        "databaseFieldType": "str",
        "ssl": "true",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "iot",
        "userFieldType": "str",
        "password": "pepcon-garton",
        "passwordFieldType": "str"
    }
]