fluxoPrincipal.json
[
    {
        "id": "ed464f0a6845ec56",
        "type": "tab",
        "label": "Fluxo 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "12bf83cca6c91fb6",
        "type": "mqtt in",
        "z": "ed464f0a6845ec56",
        "name": "",
        "topic": "bet/realizarAposta",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fa7923ade7c363e8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 780,
        "wires": [
            [
                "81f38b9c7d8eef7d",
                "c67ee0f2d35eb51d"
            ]
        ]
    },
    {
        "id": "81f38b9c7d8eef7d",
        "type": "change",
        "z": "ed464f0a6845ec56",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "queryParameters",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 780,
        "wires": [
            [
                "c188da8cef99a26a",
                "c955f1f9e4a3ce3d"
            ]
        ]
    },
    {
        "id": "c188da8cef99a26a",
        "type": "postgresql",
        "z": "ed464f0a6845ec56",
        "name": "",
        "query": "INSERT INTO bets (id_cliente, id_partida, id_time_apostado) VALUES\n($id_cliente, $id_partida, $id_time_apostado)",
        "postgreSQLConfig": "1251550e75985b59",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 870,
        "y": 780,
        "wires": [
            [
                "d9f00722288cc473",
                "16b5069912760604"
            ]
        ]
    },
    {
        "id": "d9f00722288cc473",
        "type": "debug",
        "z": "ed464f0a6845ec56",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 680,
        "wires": []
    },
    {
        "id": "c955f1f9e4a3ce3d",
        "type": "debug",
        "z": "ed464f0a6845ec56",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 680,
        "wires": []
    },
    {
        "id": "c67ee0f2d35eb51d",
        "type": "debug",
        "z": "ed464f0a6845ec56",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 680,
        "wires": []
    },
    {
        "id": "16b5069912760604",
        "type": "mqtt out",
        "z": "ed464f0a6845ec56",
        "name": "",
        "topic": "bet/apostaConfirmada",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fa7923ade7c363e8",
        "x": 1160,
        "y": 780,
        "wires": []
    },
    {
        "id": "7c0be8741199e678",
        "type": "mqtt in",
        "z": "ed464f0a6845ec56",
        "name": "",
        "topic": "bet/consultarAposta",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fa7923ade7c363e8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 1060,
        "wires": [
            [
                "6e72820e697e346c",
                "2690d4dd208b54eb"
            ]
        ]
    },
    {
        "id": "6e72820e697e346c",
        "type": "change",
        "z": "ed464f0a6845ec56",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "queryParameters",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 1060,
        "wires": [
            [
                "49af4e25f654a9e8",
                "f0c8463222e38ae1"
            ]
        ]
    },
    {
        "id": "49af4e25f654a9e8",
        "type": "postgresql",
        "z": "ed464f0a6845ec56",
        "name": "",
        "query": "SELECT \n  b.*,\n  t.nome AS nome_time_apostado\nFROM bets b\nLEFT JOIN times t ON b.id_time_apostado = t.id_time\nWHERE b.id_cliente = $id_cliente;",
        "postgreSQLConfig": "1251550e75985b59",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 870,
        "y": 1060,
        "wires": [
            [
                "49f4d35e0e2d999a",
                "17bd35b5be74353c"
            ]
        ]
    },
    {
        "id": "49f4d35e0e2d999a",
        "type": "debug",
        "z": "ed464f0a6845ec56",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 960,
        "wires": []
    },
    {
        "id": "f0c8463222e38ae1",
        "type": "debug",
        "z": "ed464f0a6845ec56",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 960,
        "wires": []
    },
    {
        "id": "2690d4dd208b54eb",
        "type": "debug",
        "z": "ed464f0a6845ec56",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 960,
        "wires": []
    },
    {
        "id": "17bd35b5be74353c",
        "type": "mqtt out",
        "z": "ed464f0a6845ec56",
        "name": "",
        "topic": "bet/minhasApostas",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fa7923ade7c363e8",
        "x": 1150,
        "y": 1060,
        "wires": []
    },
    {
        "id": "67fad8a01acfe9cc",
        "type": "mqtt in",
        "z": "ed464f0a6845ec56",
        "name": "",
        "topic": "bet/getPartidas",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fa7923ade7c363e8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 520,
        "wires": [
            [
                "0ba11470fd2d1921",
                "d35c0cad894baed3"
            ]
        ]
    },
    {
        "id": "0ba11470fd2d1921",
        "type": "change",
        "z": "ed464f0a6845ec56",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "queryParameters",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 520,
        "wires": [
            [
                "e860f32a11d76e8b",
                "04ee746457834f88"
            ]
        ]
    },
    {
        "id": "e860f32a11d76e8b",
        "type": "postgresql",
        "z": "ed464f0a6845ec56",
        "name": "",
        "query": "SELECT \n  p.*,\n  tm.nome AS mandante_nome,\n  tv.nome AS visitante_nome\nFROM partidas p\nLEFT JOIN times tm ON p.mandante = tm.id_time\nLEFT JOIN times tv ON p.visitante = tv.id_time\nWHERE p.status = 'em_andamento';",
        "postgreSQLConfig": "1251550e75985b59",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 850,
        "y": 520,
        "wires": [
            [
                "6a1674a55cdcf416",
                "f278bbeda62081dd"
            ]
        ]
    },
    {
        "id": "6a1674a55cdcf416",
        "type": "debug",
        "z": "ed464f0a6845ec56",
        "name": "debug 18",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 420,
        "wires": []
    },
    {
        "id": "04ee746457834f88",
        "type": "debug",
        "z": "ed464f0a6845ec56",
        "name": "debug 19",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 420,
        "wires": []
    },
    {
        "id": "d35c0cad894baed3",
        "type": "debug",
        "z": "ed464f0a6845ec56",
        "name": "debug 20",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 420,
        "wires": []
    },
    {
        "id": "f278bbeda62081dd",
        "type": "mqtt out",
        "z": "ed464f0a6845ec56",
        "name": "",
        "topic": "bet/partidas",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fa7923ade7c363e8",
        "x": 1150,
        "y": 520,
        "wires": []
    },
    {
        "id": "3fb5473842a63e8c",
        "type": "mqtt in",
        "z": "ed464f0a6845ec56",
        "name": "",
        "topic": "bet/autenticaCliente",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fa7923ade7c363e8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 280,
        "wires": [
            [
                "d3fdba6167bc0e3f",
                "8f349a8427cd3820"
            ]
        ]
    },
    {
        "id": "d3fdba6167bc0e3f",
        "type": "change",
        "z": "ed464f0a6845ec56",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "queryParameters",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 280,
        "wires": [
            [
                "82c3b4299f7b6154",
                "d936b6bbd8594b9e"
            ]
        ]
    },
    {
        "id": "82c3b4299f7b6154",
        "type": "postgresql",
        "z": "ed464f0a6845ec56",
        "name": "",
        "query": "SELECT clientes.*\nFROM copos\nJOIN vinculo_copo_cliente v ON v.id_copo = copos.id AND v.ativo = true\nJOIN clientes ON clientes.id = v.id_cliente\nWHERE copos.rfid = $rfid;",
        "postgreSQLConfig": "1251550e75985b59",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 850,
        "y": 280,
        "wires": [
            [
                "65f593d4da691801",
                "3ce841d8c85bfa58"
            ]
        ]
    },
    {
        "id": "65f593d4da691801",
        "type": "debug",
        "z": "ed464f0a6845ec56",
        "name": "debug 21",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 160,
        "wires": []
    },
    {
        "id": "d936b6bbd8594b9e",
        "type": "debug",
        "z": "ed464f0a6845ec56",
        "name": "debug 22",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 180,
        "wires": []
    },
    {
        "id": "8f349a8427cd3820",
        "type": "debug",
        "z": "ed464f0a6845ec56",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 180,
        "wires": []
    },
    {
        "id": "3ce841d8c85bfa58",
        "type": "mqtt out",
        "z": "ed464f0a6845ec56",
        "name": "",
        "topic": "dadosCliente",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fa7923ade7c363e8",
        "x": 1230,
        "y": 280,
        "wires": []
    },
    {
        "id": "fa7923ade7c363e8",
        "type": "mqtt-broker",
        "name": "MQTT",
        "broker": "mqtt.janks.dev.br",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "5",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1251550e75985b59",
        "type": "postgreSQLConfig",
        "name": "PostgreSQL",
        "host": "postgresql.janks.dev.br",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "projeto_b",
        "databaseFieldType": "str",
        "ssl": "true",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "iot",
        "userFieldType": "str",
        "password": "pepcon-garton",
        "passwordFieldType": "str"
    }
]