fluxoPix.json
[
    {
        "id": "f7cec97d9b2d7892",
        "type": "tab",
        "label": "Fluxo 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "391219af979d9f97",
        "type": "mqtt in",
        "z": "f7cec97d9b2d7892",
        "name": "",
        "topic": "conta",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "fa7923ade7c363e8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 490,
        "y": 280,
        "wires": [
            [
                "21095c7d6143c7d8"
            ]
        ]
    },
    {
        "id": "04e976e0e1c50b13",
        "type": "http request",
        "z": "f7cec97d9b2d7892",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "application/json"
            },
            {
                "keyType": "User-Agent",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "NomeDaSuaAplicacao/1.0.0"
            },
            {
                "keyType": "other",
                "keyValue": "access_token",
                "valueType": "other",
                "valueValue": ""
            }
        ],
        "x": 980,
        "y": 440,
        "wires": [
            [
                "8fe29bfb585d9da7",
                "296d708c7b89549c"
            ]
        ]
    },
    {
        "id": "d62c25254e35b4ae",
        "type": "template",
        "z": "f7cec97d9b2d7892",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "https://api.asaas.com/v3/payments/{{payload}}/pixQrCode",
        "output": "str",
        "x": 760,
        "y": 440,
        "wires": [
            [
                "04e976e0e1c50b13"
            ]
        ]
    },
    {
        "id": "1c90d1ec43a820f2",
        "type": "template",
        "z": "f7cec97d9b2d7892",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"billingType\": \"PIX\",\n    \"customer\": \"cus_000183861203\",\n    \"value\": {{payload}},\n    \"dueDate\": \"{{hora}}\"\n}",
        "output": "str",
        "x": 980,
        "y": 280,
        "wires": [
            [
                "3d472b1c7499942d"
            ]
        ]
    },
    {
        "id": "3d472b1c7499942d",
        "type": "http request",
        "z": "f7cec97d9b2d7892",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.asaas.com/v3/lean/payments",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "application/json"
            },
            {
                "keyType": "User-Agent",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "NomeDaSuaAplicacao/1.0.0"
            },
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "application/json"
            },
            {
                "keyType": "other",
                "keyValue": "access_token",
                "valueType": "other",
                "valueValue": ""
            }
        ],
        "x": 1160,
        "y": 280,
        "wires": [
            [
                "8f96a943b8aff59f",
                "b97d804fd0c12398"
            ]
        ]
    },
    {
        "id": "8f96a943b8aff59f",
        "type": "debug",
        "z": "f7cec97d9b2d7892",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 280,
        "wires": []
    },
    {
        "id": "b97d804fd0c12398",
        "type": "change",
        "z": "f7cec97d9b2d7892",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.id",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 380,
        "wires": [
            [
                "d62c25254e35b4ae",
                "b70767f5a1903bfa"
            ]
        ]
    },
    {
        "id": "8fe29bfb585d9da7",
        "type": "debug",
        "z": "f7cec97d9b2d7892",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 380,
        "wires": []
    },
    {
        "id": "296d708c7b89549c",
        "type": "change",
        "z": "f7cec97d9b2d7892",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 440,
        "wires": [
            [
                "efb997eede518fd1"
            ]
        ]
    },
    {
        "id": "efb997eede518fd1",
        "type": "mqtt out",
        "z": "f7cec97d9b2d7892",
        "name": "",
        "topic": "codigoPix",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fa7923ade7c363e8",
        "x": 1480,
        "y": 440,
        "wires": []
    },
    {
        "id": "21095c7d6143c7d8",
        "type": "change",
        "z": "f7cec97d9b2d7892",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "hora",
                "pt": "msg",
                "to": "iso",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "numMesa",
                "pt": "msg",
                "to": "payload.mesa",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.valor",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 280,
        "wires": [
            [
                "044efc11758e2265"
            ]
        ]
    },
    {
        "id": "044efc11758e2265",
        "type": "function",
        "z": "f7cec97d9b2d7892",
        "name": "function 1",
        "func": "if (msg.hora) {\n    msg.hora = msg.hora.substring(0, 10);\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 280,
        "wires": [
            [
                "1c90d1ec43a820f2"
            ]
        ]
    },
    {
        "id": "b70767f5a1903bfa",
        "type": "function",
        "z": "f7cec97d9b2d7892",
        "name": "function 2",
        "func": "let novoId = msg.payload;\nlet cobrancas = global.get(\"listaCobrancas\") || [];\n\ncobrancas.push({ idCobranca: novoId, numMesa: msg.numMesa });\n\nglobal.set(\"listaCobrancas\", cobrancas);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "0d4d77eac0f4c07c",
        "type": "inject",
        "z": "f7cec97d9b2d7892",
        "name": "",
        "props": [],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 460,
        "y": 560,
        "wires": [
            [
                "b2844cbdafd7789b"
            ]
        ]
    },
    {
        "id": "b2844cbdafd7789b",
        "type": "function",
        "z": "f7cec97d9b2d7892",
        "name": "function 3",
        "func": "let cobrancas = global.get(\"listaCobrancas\") || [];\n\nif (cobrancas.length === 0) {\nreturn null;\n}\n\nmsg.payload = cobrancas;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 560,
        "wires": [
            [
                "5478bd2c1eed1042"
            ]
        ]
    },
    {
        "id": "5478bd2c1eed1042",
        "type": "split",
        "z": "f7cec97d9b2d7892",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 730,
        "y": 560,
        "wires": [
            [
                "b4335f887d11bde6"
            ]
        ]
    },
    {
        "id": "98eca01b8fdb741d",
        "type": "template",
        "z": "f7cec97d9b2d7892",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "https://api.asaas.com/v3/payments/{{payload}}/status",
        "output": "str",
        "x": 1080,
        "y": 560,
        "wires": [
            [
                "4edda5f58b9fa55b"
            ]
        ]
    },
    {
        "id": "4edda5f58b9fa55b",
        "type": "http request",
        "z": "f7cec97d9b2d7892",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "application/json"
            },
            {
                "keyType": "User-Agent",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "NomeDaSuaAplicacao/1.0.0"
            },
            {
                "keyType": "other",
                "keyValue": "access_token",
                "valueType": "other",
                "valueValue": ""
            }
        ],
        "x": 800,
        "y": 680,
        "wires": [
            [
                "64b2415c1af5849d",
                "78b8261bc7aa4023"
            ]
        ]
    },
    {
        "id": "3ab1cc9afad88682",
        "type": "switch",
        "z": "f7cec97d9b2d7892",
        "name": "",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "RECEIVED",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1170,
        "y": 680,
        "wires": [
            [
                "05d6f9590f7b79b8"
            ]
        ]
    },
    {
        "id": "10c8a236885b260a",
        "type": "mqtt out",
        "z": "f7cec97d9b2d7892",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fa7923ade7c363e8",
        "x": 1530,
        "y": 620,
        "wires": []
    },
    {
        "id": "05d6f9590f7b79b8",
        "type": "function",
        "z": "f7cec97d9b2d7892",
        "name": "function 4",
        "func": "let idOriginal = msg.idOriginal;\nlet cobrancas = global.get(\"listaCobrancas\") || [];\n\nlet novaLista = cobrancas.filter(c => c.idCobranca !== idOriginal);\nglobal.set(\"listaCobrancas\", novaLista);\n\nmsg.payload = {\n    \"status\": \"RECEIVED\",\n    \"idCobranca\": idOriginal\n};\n\nmsg.topic = \"liberaPix/\" + msg.numMesa;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 620,
        "wires": [
            [
                "a593d3179d3bd210",
                "10c8a236885b260a"
            ]
        ]
    },
    {
        "id": "64b2415c1af5849d",
        "type": "debug",
        "z": "f7cec97d9b2d7892",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 740,
        "wires": []
    },
    {
        "id": "78b8261bc7aa4023",
        "type": "function",
        "z": "f7cec97d9b2d7892",
        "name": "function 5",
        "func": "let idOriginal = msg.idOriginal;\nlet cobrancas = global.get(\"listaCobrancas\") || [];\n\nif (msg.statusCode === 404 || !msg.payload.status) {\n    let novaLista = cobrancas.filter(c => c.idCobranca !== idOriginal);\n    global.set(\"listaCobrancas\", novaLista);\n    return null;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 680,
        "wires": [
            [
                "3ab1cc9afad88682"
            ]
        ]
    },
    {
        "id": "b4335f887d11bde6",
        "type": "change",
        "z": "f7cec97d9b2d7892",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "idOriginal",
                "pt": "msg",
                "to": "payload.idCobranca",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "numMesa",
                "pt": "msg",
                "to": "payload.numMesa",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.idCobranca",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 560,
        "wires": [
            [
                "98eca01b8fdb741d"
            ]
        ]
    },
    {
        "id": "a593d3179d3bd210",
        "type": "debug",
        "z": "f7cec97d9b2d7892",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1540,
        "y": 560,
        "wires": []
    },
    {
        "id": "fa7923ade7c363e8",
        "type": "mqtt-broker",
        "name": "MQTT",
        "broker": "mqtt.janks.dev.br",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "5",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]